body {
  background: rgb(30, 30, 30);
  text-align: center;
}
.timer {
  padding-top: 100px;
}
.field {
  display: inline-block;
  padding: 30px 17px 12px;
  /* display: flex;
  flex-wrap: wrap; */
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px 5px;
  background-color: gray;
  border-radius: 6px;
  /* height: 100px; */
  width: 50px;
}

.value {
  font-size: 45px;
  line-height: 14px;
}

button {
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 75px;
  text-decoration: none;
  margin-top: 10px;
}
button:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}
button:active {
  position: relative;
  top: 1px;
  border: none;
}
